<?xml version="1.0" encoding="UTF-8"?>
<config_profile>
	<name>មនោរម្យ​</name>
	<type>ប្តូរប្រាក់ និង ផ្ទេរប្រាក់</type>
	<description_kh>មានប្តូរប្រាក់គ្រប់ប្រភេទ និងមានសេវាផ្ទេរប្រាក់</description_kh>
	<description_en>EXCHANGE CURRENCY AND TRANSFER SERIVCE</description_en>
	<address>ផ្ទះលេខ​189(ង) ជួរផ្ទះល្វែងខាងលិចទល់មុខផ្សារអត្តថ្មី</address>
	<phone>092 515 555,012 438 283</phone>
	<email></email>
	<website></website></config_profile>
